name: PyAutoGUI Workflow

on:
  push:
    branches:
      - main  # Set to your main branch name
  pull_request:
    branches:
      - main  # Set to your main branch name

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.12.2'  # Specify your desired Python version

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyautogui  # Install PyAutoGUI
        pip install behave
        pip install opencv-python
        pip install behave-html-pretty-formatter
        pip install PyScreeze
        # Add any other dependencies you may need

    - name: Run PyAutoGUI script
      run: behave  # Replace `your_script.py` with your script's filename
